.user-card{
   margin-top: 10px;
   .ant-card{
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
      background-color: $main;
   }
   .ant-card-actions{
      background-color: transparent !important;
   }

}