table >th> tr> td{
   padding: auto;
}
td{
   vertical-align: middle !important;
}
table>tbody>tr>th>img{
   max-width: 130px;
   height: 100px;  
   border: 1px solid lightgray; 
   padding: 5px;
   border-radius: 5px;
   object-fit: cover;
}
.flex_row{
   display: flex;
   justify-content: space-around;
}
.flex_row>button{
   
   border-top-right-radius: unset !important;
   border-bottom-right-radius: unset !important;
}
.flex_row>input{
   border-top-left-radius: unset !important;
   border-bottom-left-radius: unset !important;
   border-left: hidden;
}
body{
   width: 100%;
}
.container{
   max-width: 1200px;
   margin: auto;
}
.container>h3{
   text-align: center;
   padding: 20px;
   margin-top: 20px;
   background-color: lightblue;
   border-radius: 5px;
   letter-spacing: 1px;
   word-spacing: 5px;
}