/*Genneral*/
* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   line-height: 1.5;
}

table>th>tr>td {
   padding: auto;
}

th {
   padding-top: 30px !important;
}

td {
   vertical-align: middle !important;
   text-align: center;
}

table>tbody>tr>th>img {
   max-width: 130px;
   height: 100px;
   border: 1px solid lightgray;
   padding: 5px;
   border-radius: 5px;
   object-fit: cover;
}

.flex-row {
   display: flex;
   justify-content: space-around;
}

.flex-row-center {
   display: flex;
   justify-content: center;
}

.flex-row-title {
   display: flex;
   justify-content: space-between;
}

.flex-colum {
   display: flex;
   flex-direction: column !important;

}

/*Search title */
.flex-row>button {
   border-top-right-radius: unset !important;
   border-bottom-right-radius: unset !important;
}

.flex-row>input {
   border-top-left-radius: unset !important;
   border-bottom-left-radius: unset !important;
   border-left: hidden;
   width: 500px;
}

.hide {
   display: none !important;
}

/*Body*/
body {
   width: 100%;
}

.container {
   max-width: 1200px;
   margin: auto;
}

.container>h3 {
   text-align: center;
   padding: 20px;
   margin-top: 20px;
   background-color: lightblue;
   border-radius: 5px;
   letter-spacing: 1px;
   word-spacing: 5px;
}

.check-box {
   width: 20px;
   vertical-align: middle;
}

.all-checkbox {
   padding-left: 30px;
}

.modal {
   position: relative;
   width: 340px;
   height: 480px;
   padding: 10px;
   display: block;
}

.modal-wrapper {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.8);
   display: flex;
   justify-content: center;
   align-items: center;
}

.photo-wrapper {
   padding: 10px;
   text-align: center;
}

.photo-wrapper>input {
   margin-bottom: 10px;
}

.photo-view {
   width: 100%;
   max-width: 200px;
   object-fit: cover;
   border: 1px solid white;
   border-radius: 3px;
   padding: 5px;
   margin: 10px;
   text-align: center;
}

.hide {
   display: none;
}

.title {
   text-align: center;
}

.input {
   width: 300px;
}

.remove-wrap {
   position: relative;

}

.remove-conf {
   position: absolute;
   width: 180px;
   height: 80px;
   box-shadow: 0 0 10px lightgray;
   background-color: white;
   padding: 3px;

}

.remove-conf>button {
   border-radius: 2px;
   border: 1px solid lightgray;
   margin-left: 10px;
   width: 35px;
   background-color: white;
   box-shadow: 0 0;
}

.error {
   color: red;
}

.total {
   width: 100px;
   height: 110px;
   border: 1px solid red;
   border-radius: 5px;
   padding: 10px;
}

.total>p {
   line-height: 100%;
   color: red;
}

.deleteSuccess {
   width: 100%;
   height: auto;
   position: absolute;
   top: 0;
   left: 0;
}

.arrow {
   color: black;
   margin: 0 10px;
}

.hover-arrow:hover {
   cursor: pointer;

}

.pencil:hover {
   cursor: pointer;
}

.trash:hover {
   cursor: pointer;
}

.icon-delete {
   font-size: 20px;
   margin-right: 10px;
}

.btn-show-checked {
   padding: 0;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.btn-show-checked .btn-left {
   padding: 0;
   padding-left: 10px;

}

.btn-show-checked .btn-right {
   padding: 0 10px;
   margin: 0;
   font-size: 15px;
   padding-left: 0 !important;
}

.pagination {
   display: flex;
   justify-content: right;
}

.pagination>li {
   list-style: none;
   border: 1px solid rgb(50, 50, 241);
   padding: 5px 10px;
   margin: 5px;
   cursor: pointer;
   border-radius: 2px;

}

/* .pagination>li:hover {
   background-color: rgba(0, 81, 255, 0.599);
} */
.checked-pagination {
   background-color:rgba(0, 81, 255, 0.599) !important ;
}