.add-new{
   padding: 20px;
   label{
      color: white;
      padding: 10px 0;
      font-size: 25px;
      font-weight: bold;
      padding-bottom: 10px;
   }
   input{
      background-color: transparent;
      border: 1px solid #F17B77;
      width: 300px;
      margin: 10px 0;
      font-size: 17px;
   }
   p{
      color: red;
      margin: 0 !important;
      padding-bottom: 10px;
   }
}
.btn-add-new-house{
   border-radius: 5px;
   color: white;
   background-color:#F17B77;
   border: none;
   font-size: 15px;
    padding: 5px;
}