.edit-house-icon{
   fill: #64A587;
   font-size: 30px;
   margin-right: 10px;
}
.body-invoiceTypes-cover{
   background-color: #F7C0AA;
   width: 100%;
   padding: 0;
}
.body-invoiceType{
   padding: 5px 0;
   border-bottom: 1px solid  #F17B77;
   border-right: 1px solid  #F17B77;
   width: 33.33%;
   font-weight: bold;
   color: #446B50;
}
.body-bar{
   padding-top: 5px;
   button{
      background-color: transparent;
      border: none;
      border-radius: 50%;
      font-size: 18px;
      color: #446B50;
   }
   input{
      background-color: transparent;
      border: none;
      color: #F7C0AA;
      font-size: 22px;
   }
}
.body-house-name{
   label{
      color: #446B50;
   font-size: 18px;
   }
   input{
      margin-bottom: 10px;
      border: none;
      outline: none;
   }
}
.edit-body-content-cover{
   overflow: hidden;
   margin: 0 10px;
   position: relative;
   border: 3px solid #F17B77;
   border-radius: 10px;
   height: 87%;
}