.house-icon{
   font-size: 50px;
   height: fit-content;
   background-color: #F7C0AA;
   border-radius: 10px;
   border: 1px solid #010101;
   padding: 0 10px;
}
.house-name{
   font-size: 17px;
   color: #010101;
   margin: 5px 0;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   max-width: 70px;
   
}
.house-cover{
   margin: 10px 20px 5px 20px;
}