.invoice{
   background-color: #F7C0AA;
   border-radius: 8px;
   margin: 5px;
   padding: 5px;
   width:-webkit-fill-available;
   border: 1px solid #F17B77;
   
.invoice-key{
   p , h4{
      margin: 5px;
   }
   
}
}
.body-invoices-content{
   a{
      text-decoration: none;
   }
}