.f-row{
   display: flex;
}
.f-col{
   display: flex;
   flex-direction: column;
}
.f-cen{
justify-content: center;
align-items: center;
}
.f-around{
   justify-content: space-around;
}
.f-bet{
   justify-content: space-between;
}
.t-cen{
   text-align: center;
}
.container{
   width: 100%;
}
.home{
   width: 100%;
   height:100%;
   font-family: Arial, Helvetica, sans-serif;
}

@import "../component/header.scss";
@import "../component/body.scss";
@import "../component/house.scss";
@import "../component/addNew.scss";
@import "bootstrap/dist/css/bootstrap.min.css";
@import "../component/editHouse.scss"
