/* General */
.flex-row {
   display: flex;
}

.flex-col {
   display: flex;
   flex-direction: column;
}

.flex-center {
   justify-content: center;
   align-items: center;
}

.flex-bet {
   justify-content: space-between;
}

.flex-around {
   justify-content: space-around;
}

.align-center {
   align-items: center;
}



.bg-white {
   background-color: white;
}

.bg-trans {
   background-color: transparent;
}

.marg10 {
   margin: 10px;
}

.font-sz17 {
   font-size: 17px !important;
}

.max-width99 {
   max-width: 99% !important;
   margin: 0 auto;
}

.cover {
   width: 100%;
}

.button-icon {
   background-color: transparent;
   font-size: 20px;
   outline: none;
   border: none;
   margin: 5px;
}

.hiden {
   display: none;
}

.cursor {
   cursor: pointer;
}

.input {
   background-color: transparent;
   border: none;
}

.btn-bg {
   border-radius: 50%;
   width: 40px;
   height: 40px;
   border: none !important;
   background-color: transparent;
}

.btn-bg:hover {
   background-color: rgb(231, 231, 231);
}

/* body */
* {
   box-sizing: border-box;
   font-family: "Product Sans", Arial, sans-serif;
   color: grey;
}

body {
   margin: 0;
}

.cover-header {
   border-bottom: 1px solid rgb(202, 202, 202);
  
}

/* header */


.cover .header-content .flex-row .header-icon {
   width: 50px;
   height: 50px;
}

.cover .header-content .flex-row .header-icon>i {
   font-size: 20px;
   color: rgb(73, 73, 73);
   overflow: visible;
}

.cover .header-content .flex-row>img {
   height: 40px;
   width: auto;
}

.cover .header-content .flex-row>p {
   font-size: 22px;
   line-height: 18px;
   padding: 0 10px;
}

.cover .header-content .flex-row>button {
   border: hidden;
   border-radius: 50%;
}

.cover .header-content .flex-row>button:hover {
   background-color: rgb(241, 243, 244) !important;
}

.header-mid {
   flex-wrap: nowrap;
   width: 85%;
}

.header-content {
   text-align: center;
}

.search {
   border-radius: 10px;
   border: none;
   outline: none;
   background-color: rgb(241, 243, 244);
   height: 45px;
   justify-content: start;
   margin-left: 50px;
}

.search>div>input {
   width: 32vw;
   border: none;
   outline: none;
}

.header-tool {
   margin-right: 35px;
}

.header-tool>button {
   background-color: transparent;
   font-size: 20px;
   outline: none;
   border: none;
   margin: 0 !important;

}

.header-gg>button {
   background-color: transparent;
   font-size: 20px;
   outline: none;
   border: none;
   flex-wrap: nowrap;
}


/* body */
/* sidebar */

.sidebar {
   padding-top: 5px;
   background-color: white;
   height: 100%;
   width: 20%;
   transition: width 0.2s;
   overflow: none;
}
.sidebar-wrap{
   width: 15%;
   height: 100%;
}

.sidebar:hover {
   width: 280px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.sidebar-row:hover {
   background-color: rgb(242, 242, 242);
   border-top-right-radius: 30px;
   border-bottom-right-radius: 30px;
}

.sidebar:hover>.sidebar-row>p {
   display: block;
}

.sidebar:hover>.sidebar-row-top {
   background-color: rgb(255, 235, 192);
   border-top-right-radius: 30px;
   border-bottom-right-radius: 30px;
}

.sidebar-cover {
   height: calc(100vh - 69px);
}

.sidebar-cover>div {
   width: 100%;
   height: 100%;
   border-left: none;
   outline: none;
}


.sidebar-text {
   margin-left: 30px;
   color: #202124 !important;
   font-size: 15px;
   white-space: nowrap;
   padding-right: 10px;
}

.sidebar-btn {
   margin: 0 !important;
   border-radius: 50%;
   background-color: transparent;
   width: 50px;
   height: 50px;
   flex: none;
   margin-left: 10px !important;

}

.sidebar-btn>i {
   color: #202124;
}

.sidebar-btn-note {
   border-radius: 50%;
   background-color: rgb(255, 235, 192);
   width: 50px;
   height: 50px;
}

/* body-content */
.body-content {
   width: 85%;
}

.body-take-note {
   align-items: center;
   padding-top: 20px;
   width: 85%;
}


.take-note {
   box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
   border-radius: 8px;
   border: 1px solid rgb(206, 206, 206);
   overflow: hidden;
   
}

.take-note>input {
   border: none;
   width: 410px;
   height: 45px;
   font-size: 17px;
   padding: 0 10px;
}

.take-note-icon>i {
   font-size: 21px;
   margin: 0 20px;
}

.take-note-detail {
   box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
   border-radius: 8px;
   border: 1px solid rgb(206, 206, 206);
   overflow: hidden;
}

.take-note-detail>div>input {
   border: none;
   width: 410px;
   height: 45px;
   font-size: 17px;
   padding: 0 10px;
}

/* Reponsive */
/* For desktop: */
.col-1 {
   width: 8.33%;
}

.col-2 {
   width: 16.66%;
}

.col-3 {
   width: 25%;
}

.col-4 {
   width: 33.33%;
}

.col-5 {
   width: 41.66%;
}

.col-6 {
   width: 50%;
}

.col-7 {
   width: 58.33%;
}

.col-8 {
   width: 66.66%;
}

.col-9 {
   width: 75%;
}

.col-10 {
   width: 83.33%;
}

.col-11 {
   width: 91.66%;
}

.col-12 {
   width: 100%;
}

@media only screen and (max-width: 835px){
   .take-note>input{
      width: 50vw ;
   }
   .search{
      margin: unset;
   }
}
@media only screen and (max-width: 750px){
   .header-tool{
      margin: unset;
   }
}
@media only screen and (max-width: 678px) {

   /* For mobile phones: */
   .input-search-wrap {
      display: none;
   }

   .search {
      width: 100%;
      background-color: transparent;
      justify-content: end;
   }
}
@media only screen and (max-width: 520px){
   .header-mid{
      width: unset ;
   }
   .take-note>input{
      width: unset ;
   }

   .marg10{
      margin: unset;
   }
   .btn-bg{
      width: unset;
   }
   .body-take-note{
      width: unset;
   }
}