.house-icon{
   font-size: 50px;
   height: fit-content;
   background-color: #F7C0AA;
   border-radius: 16px;
   border: 1px solid gray;
   padding: 10px 10px 0 10px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}
.house-name{
   font-size: 17px;
   color: #010101;
   margin: 5px 0;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   max-width: 70px;
   
}
.house-cover{
   margin: 10px 20px 5px 20px;
}