.invoice-detail{
   
   height: 100%;
   position: relative;
   padding: 10px 0;
      background-color: #F7C0AA;
       ul{
         li{
            padding: 10px 5px;
            margin-left: 15px;
         }
       }
       .btn-invoice-func{
         margin-top: 50px;
         button{
            font-size: 15px;
            color: white;
            background-color: #F17B77;
            border: none;
            border-radius: 8px;
            padding: 8px;
            a{
               color: white;
            }
         }
       }
       .invoice-detail-cover{
            max-width: 90%;
            margin: 0 auto;
          .invoice-logo{
             margin-top: 20px;
             h2{
                margin: 0;
                color: #F17B77;
             }
             h3{
                margin: 0;
                color: #F17B77;
             }
             .edit-invoice-icon{
                font-size: 25px;
                margin-right: 10px;
                fill: #64A587;
             }
             
          }
       }
       .btn-return{
         background-color: transparent ;
         font-size: 35px;
         border: none;
         color: #446B50;
         position: absolute;
         left: 10px;
         bottom: 0;
         a{
            color: #446B50;
         }
       }
}